SPREADSHEET_ID=
SHEET_NAME=
JWT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=

BACKEND_URL=

ENABLE_SINGLE_SUBMISSION_CHECK=

RESEND_API_KEY=
# Correo del remitente (debe ser de tu dominio verificado en Resend)
FROM_EMAIL=

DIALOGFLOW_PROJECT_ID=
DIALOGFLOW_LOCATION=
DIALOGFLOW_AGENT_ID=
CHAT_SPREADSHEET_ID=
CHAT_SHEET_NAME=