SPREADSHEET_ID=
SHEET_NAME=
JWT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=

BACKEND_URL=

ENABLE_SINGLE_SUBMISSION_CHECK=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

DIALOGFLOW_PROJECT_ID=
DIALOGFLOW_LOCATION=
DIALOGFLOW_AGENT_ID=
CHAT_SPREADSHEET_ID=